In [79]:
# import
import pandas as pd
import numpy as np

In [80]:
# read to excel
card=pd.read_excel('Cardholder categories for coding.xlsx')

In [46]:
card.head()

,record,RID,Client_Major_2_txt_cardh_minor_industry,Client_Major_2_txt_Client_Original,Client_Major_2_txt_amt_last_sale
0,5,NaN,NaN,NaN,NaN
1,30,NaN,NaN,NaN,NaN
2,41,NaN,NaN,NaN,NaN
3,21,NaN,NaN,NaN,NaN
4,53,NaN,NaN,NaN,NaN

In [47]:
card['Client_Major_2_txt_cardh_minor_industry'].value_counts()

Furniture                     1554
Electronics                    924
Auto                           601
Specialty Group                364
Music                          218
Luxury                         216
Flooring                       208
Emerging Markets               150
Lawn & Garden                   87
HVAC                            62
Home Improvement Revolving      36
Name: Client_Major_2_txt_cardh_minor_industry, dtype: int64

In [48]:
# function to recod industry
def recodeIndustry(x):
    if x=='Furniture':
        return 1
    elif x=='Electronics':
        return 2
    elif x=='Auto':
        return 3
    elif x=='Specialty Group':
        return 4
    elif x=='Music':
        return 5
    elif x=='Luxury':
        return 6
    elif x=='Flooring':
        return 7
    elif x=='Emerging Markets':
        return 8
    elif x=='Lawn & Garden':
        return 9
    elif x=='HVAC':
        return 10
    elif x=='Home Improvement Revolving':
        return 11

In [81]:
# recode industry
card['CH_Industry']=card['Client_Major_2_txt_cardh_minor_industry'].apply(recodeIndustry)

In [82]:
# check how many unique item we have
len(card['Client_Major_2_txt_Client_Original'].value_counts())

187

In [51]:
major_text=card['Client_Major_2_txt_Client_Original'].value_counts()

In [83]:
# export to excel
major_text.to_excel('text.xlsx')

In [84]:
# Get unique value and check its type
unique=card['Client_Major_2_txt_Client_Original'].unique()
type(unique)

numpy.ndarray

In [85]:
# convert it to list and check length
uniqueList=unique.tolist()
len(uniqueList)

188

In [86]:
# delete the first element which is NaN
# del uniqueList[0]
# uniqueList[10]

In [87]:
# uniqueList
# note: this has a nan in the list

In [88]:
# return the index of the list
uniqueList.index('ABC WAREHOUSE')

13

In [89]:
def recodeClient(x):
    return uniqueList.index(x)

In [90]:
card['Client Major']=card['Client_Major_2_txt_Client_Original'].apply(recodeClient)

In [91]:
card.tail()

,record,RID,Client_Major_2_txt_cardh_minor_industry,Client_Major_2_txt_Client_Original,Client_Major_2_txt_amt_last_sale,CH_Industry,Client Major
5416,31819,14038407.0,Auto,CARX/SYNCHRONY CAR CARE,525.51,3.0,9
5417,31831,30042204.0,Electronics,SYNCHRONY HOME,2284.06,2.0,16
5418,31836,14043091.0,Auto,AMERICA'S TIRE/SYNCHRONY CAR CARE,742.78,3.0,35
5419,31843,90010413.0,Music,HOME DESIGN - CE/APPL,629.00,5.0,31
5420,31842,14023939.0,Auto,SYNCHRONY CAR CARE,696.52,3.0,5

In [93]:
# convert a list to dictionary using index as its key
clientDict={i : uniqueList[i] for i in range(0, len(uniqueList))}

In [95]:
#clientDict

In [73]:
client_datamap=pd.DataFrame.from_dict(clientDict,orient='index')

In [75]:
client_datamap.to_excel('client datamap.xlsx')

In [78]:
card.to_excel('Cardholder categories recoded.xlsx', index=False)